---
layout: aboutus
title: About Us
---
<style>
{box-sizing: border-box;}

.testing{
  display: table;
  margin: 0 auto;
}
.container {
  position: relative;
  width: 50%;
  max-width: 300px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 95%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.container:hover .overlay {
  opacity: 1;
}
</style>
<h3> <center><b> WaterMotion Studio has a team consisting of only 2 members. </b> <center> </h3>
  <p> &nbsp</p>
  <h5> <center>Our Development Team<center> </h5>
  <p> &nbsp</p>
    
<div class="testing">
   <div class="container"style="display:inline-block;padding: 8px;">
  <img src="https://cdn.discordapp.com/attachments/452773131904483329/861472763856289792/MKG.jpg" alt="Avatar" class="image">
  <div class="overlay">Maverick</div>
    </div>
  <div class="container" style="display:inline-block;padding: 8px;">
  <img src="https://cdn.discordapp.com/attachments/452773131904483329/861496729550323742/counselor.png" alt="Avatar" class="image">
  <div class="overlay">relik</div>
      </div>
</div>
   <div class="testing">
<ul class="icons">
    {% for socloc in site.social %}
    {% if socloc[1] %}
    {% if socloc[0] == 'email' %}
    <li><a target="_blank" href="{{ socloc[1] }}" class="icon fa-envelope-o"
           ><span class="label">E-mail</span></a></li>
    {% else %}
    <li><a target="_blank" href="{{ socloc[1] }}" class="icon fa-{{ socloc[0] }}"
           ><span class="label">{{ socloc[0] }}</span></a></li>
    {% endif %}
    {% endif %}
    {% endfor %}
  </ul>
    </div>
